
@{
    
    ViewBag.TitleVi = "SolutionHome";
    ViewBag.TitleEng = "SolutionHome";
    Layout = "~/Views/Shared/_datadesignlayout.cshtml";
}
@section scripts{

    <style>
        .projects {
    background-image: url(../images/uploaded/3D%20Printing/metal-300x169.jpg) !important;
    background-size: cover;
}
    </style>
}
<section class="projects " style="
    height: 200px;
"></section>
<section class="introduction pt-100 pb-70" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section-title">
                <h2>3D IMAGINATION</h2>
                <p>
                    Scanners and 3D modeling tools to transform images into virtual images to be more realistic.
                    3D printer, fourth generation CAD / CAM engine, processing analysis tool, next generation digital guide
                    In designing our data We propose a mechanism to retrieve information that can be implemented strategically by using "3D Connect"
                    which is naturally linked to these intelligent 3D technologies
                </p>
            </div>
            <div class="col-lg-12">
                <img src="https://www.datadesign.co.th/images_rh/img_sol01-0.png" style="max-width:80%; text-align:center" />
            </div>
        </div>
    </div>
</section>
<div class="about pt-100 pb-100" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                <div class="section-title">
                    <h2>Create a virtual space from scanning / 3D models</h2>
                </div>
                <!--End section-title-->
                <p>In order to offer products that are attractive to the market at the right time, it is important to visualize / share ideas "effectively in the shortest time and create" 3D content "that can be used in the marketing process. By incorporating the designer's analog feel with the latest digital technology, we propose to create an innovative design process that has never been seen before. Oregon</p>
            </div>
            <div class="col-lg-3 ">
                <div class="owl-stage-outer">
                    <div class="owl-item cloned">
                        <img style="max-width:80%" src="/Content/Datadesign-home/icon/img_sol02-1.png" alt="Data Design Viet Nam" title="Data Design Viet Nam">
                    </div>
                </div>
            </div>
            <!--End col-lg-6-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</div>
<div class="about pt-100 pb-100"  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="owl-stage-outer">
                        <div class="owl-item cloned">
                                <img style="max-width:80%" src="/Content/Datadesign-home/icon/icon/img_sol02-2.png" alt="Data Design Viet Nam" title="Data Design Viet Nam">
                        </div>
                </div>
            </div>
            <!--End col-lg-6-->
            <div class="col-lg-9">
                <div class="section-title">
                    <h2>Create knowledge about 3D production from digital processes.</h2>
                </div>
                <!--End section-title-->
                <p>In order to promote high value-added production in Japan, it is important to use machining centers, robots, digital measuring instruments, optimization of laser guide applications and more. Working in the production site and over the past years, the production of auxiliary (3D layer model) and IoT / utilization of large data, etc. are also important themes. We will propose to create a strategic intelligent manufacturing environment that supports future global production systems.</p>
            </div>

        </div>
        <!--End row-->
    </div>
    <!--End container-->
</div>
<div class="about pt-100 pb-100"  id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                <div class="section-title">
                    <h2>Display 3D data by linking reality and virtual reality.</h2>
                </div>
                <!--End section-title-->
                <p>The development of computer graphics and CPU / GPU technology makes it easy to map 3D virtual data in the real world. In a tremendous visual environment, we invented analogue work in a very place and pushed for significant performance improvements and employee motivation reforms in place. We offer a 3D visualization system that connects "reality" and "virtual".</p>
            </div>
            <div class="col-lg-3 ">
                <div class="owl-stage-outer">
                    <div class="owl-item cloned">
                        <img style="max-width:80%" src="/Content/Datadesign-home/icon/img_sol02-3.png" alt="Data Design Viet Nam" title="Data Design Viet Nam">
                    </div>
                </div>
            </div>
            <!--End col-lg-6-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</div>
<div class="about pt-100 pb-100"  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="owl-stage-outer">
                    <div class="owl-item cloned">
                        <img style="max-width:80%" src="/Content/Datadesign-home/icon/img_sol02-4.png" alt="Data Design Viet Nam" title="Data Design Viet Nam">
                    </div>
                </div>
            </div>
            <!--End col-lg-6-->
            <div class="col-lg-9">
                <div class="section-title">
                    <h2>Freely integrating 3D digital processes</h2>
                </div>
                <!--End section-title-->
                <p>Using intelligent 3D digital tools to increase personal power and making digital processes to connect to databases to increase team power becomes indispensable for future businesses. We will combine 3D digital processes and offer creative enterprise solutions using IoT technology and intelligent devices and Microsoft cloud environments.</p>
            </div>

        </div>
        <!--End row-->
    </div>
    <!--End container-->
</div>