
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data Design Viet nam</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Scan3D,Scan 3D,3D scanning, 3D printting, Artec 3D, markforged, Cad/CAM, data design, data design vietnam, Data Design Việt Nam">
    <meta name="author" content="Data Design Viet nam">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website"><!-- Main Page Title -->
    <meta name="google-site-verification" content="JD4IaozDQh9h1VPdTEQoJgpFjM2HzrdgLcgQ4nrU3j0" />
    <link rel="icon" href="~/Content/Datadesign-home/logo-favi.png" type="image/x-icon" />
    <!-- Google Font -->
    @*<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900%7cOpen+Sans:400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">*@
    <!--Bootstrap-->
    @*<link rel="stylesheet" href="/content/datadesign-home/css/bootstrap.min.css">*@
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@
    <!--Owl carousel-->
    <link rel="stylesheet" href="/content/datadesign-home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/Datadesign-home/css/owl.theme.default.min.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">*@

    <!--Etline icons-->
    <link rel="stylesheet" href="/Content/Datadesign-home/css/et-line.css">
    <!--Font awesome icons-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="/Content/Datadesign-home/css/all.min.css">*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">*@
    <!--Magnific Popup-->
    <link rel="stylesheet" href="/Content/Datadesign-home/css/magnific-popup.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">*@
    <!-- Main style css -->
    @*<link rel="stylesheet" href="/content/datadesign-home/css/main.css">*@
    <link rel="stylesheet" href="/Content/Datadesign-home/css/main.min.css">
    <!-- responsive css -->
    @*<link rel="stylesheet" href="/Content/Datadesign-home/css/responsive.css">*@
    <link rel="stylesheet" type="text/css" href="/Content/Datadesign-home/css/responsive.min.css">
    @*<link rel="stylesheet" href="~/Content/Datadesign-home/css/submenu.css">*@
    <link rel="stylesheet" href="~/Content/Datadesign-home/css/submenu.min.css">
    @*<link rel="stylesheet" href="/Content/Artec3D/css/reponsive_mobile.css">*@
    <link rel="stylesheet" href="/Content/Artec3D/css/reponsive_mobile.min.css">
    @*<link rel="stylesheet" href="~/Content/Datadesign-home/css/googletag.css">*@
    <link rel="stylesheet" href="~/Content/Datadesign-home/css/googletag.min.css">
    <link rel="stylesheet" href="~/Content/Datadesign-home/css/multislider.css">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    @*<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>*@
    <link rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2" as="font" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2" as="font" crossorigin>
    <style>
        .pop-up {
            top: 50% !important;
        }
    </style>
</head>
<body>
    <div class="home"></div>
    <section>
        <div class="pop-up">
            <div class="content">
                <div class="container">
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="title">
                        <h2>Unsubscribe</h2>

                    </div>

                    <img src="https://datadesign.vn/Content/Datadesign-home/logo (1).png" alt="Car">

                    <div class="subscribe">
                        <form action="/Home/UnSubscribe" method="post">
                            <input type="email" class="email" id="emailField" placeholder="Nhập Địa chỉ email" onkeydown="if (event.keyCode == 13) document.getElementById('cookiesubscribe').click()" name="Subcribe">
                            <input type="submit" id="cookiesubscribe" class="Subscribe" value="Unsubscribe">
                        </form>


                        @*<div class="custom-control custom-checkbox custom-control-inline style-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox" id="defaultInline1" onclick="setCookie('checkbox', 'defaultInline1')" name="checkbox">
                                <label class="custom-control-label label-checkbox" for="defaultInline1">Bảng này sẽ không hiển thị nữa?</label>

                            </div>*@


                    </div>
                    @*<span class="close"><p><i class="fas fa-times"></i></p></span>*@
                </div>
            </div>
        </div>
    </section>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@                @**v3.3.1*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @*<script src="/content/datadesign-home/js/bootstrap.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>    @**v1.2.5*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script> @*v1.1.0*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filterizr/1.2.5/jquery.filterizr.js"></script>      @**v1.2.5*@
    <script src="/content/datadesign-home/js/jquery.counterup.min.js"></script>
    <script src="/Content/Datadesign-home/js/all.min.js"></script>

    <script src="/Content/Datadesign-home/js/jquery.waypoints.min.js"></script>
    @*<script src="/Content/Datadesign-home/js/particles.js"></script>*@
    <script src="/Content/Datadesign-home/js/particles.min.js"></script>
    <script src="/Content/Datadesign-home/js/app.js"></script>
    @*<script src="/Content/Datadesign-home/js/scripts.js"></script>*@
    <script src="/Content/Datadesign-home/js/scripts.min.js"></script>
    @*<script src="/Content/BlogList/js/BlogList.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <script src="/Content/Datadesign-home/js/multislider.min.js"></script>

    <!--multislider-->
    <script>
        $('#basicSlider,#basicSlider1').multislider({
            continuous: true,
            duration: 2000
        });
        $('#mixedSlider').multislider({
            duration: 750,
            interval: 3000
        });
        $('#mixedSlider1').multislider({
            duration: 750,
            interval: 3000
        });
    </script>
    <!--endmutislider-->
    <script>$(".pop-up .close").click(function () { $(".pop-up").hide(); console.log("hello"); }); $("#cookiesubscribe,#defaultInline1").click(function () { $(".pop-up").hide(); }); $(document).ready(function () { var notshow = getCookie("checkbox"); if (notshow != null) { $(".pop-up").hide(); } var user = getCookie("email"); if (user != null) { $(".pop-up").hide(); } });</script>     

</body>
</html>
