
@{
    ViewBag.Title = "ArtEva";
    Layout = "~/Views/Shared/_ProductLayoutDDV.cshtml";
}
@*Introduce product detail*@


<section class="introducing_area ia_3">
    <figure><img src="/Content/datadesign-product/images/man-2.png" alt="" class="images_3"></figure>
    <div class="container">
        @*<div class="tittle">
                <h4>Our selected works </h4>
                <h2>Introducing Our work</h2>
            </div>*@
        <div class="row">
            <div class="col-lg-9 col-md-8 eva-description">
                <div class="field field-name-field-first-title field-type-text field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <h1>Artec Eva</h1>
                        </div>
                    </div>
                </div>
                <div class="field field-name-field-first-content field-type-text-long field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <p class="text-medium" style="padding-top:50px;">Fast 3D scanner for professionals</p>
                            @*<ul class="sun-style-list">
                                    <li>
                                        <em>
                                            Named best 3D scanner under $50,000 by
                                            <a href="http://3d-scanners.ireviews.com/2015-best-3d-scanners-under-50000-review" target="_blank">iReviews</a>.
                                        </em>
                                    </li>
                                </ul>*@
                            <p class="scannersAddedText" style="margin:0 0 10px;">This structured light 3D&nbsp;scanner is&nbsp;the ideal choice for making a&nbsp;quick, textured and accurate 3D&nbsp;model of&nbsp;medium sized objects such as&nbsp;a&nbsp;human bust, an&nbsp;alloy wheel, or&nbsp;a&nbsp;motorcycle exhaust system. It&nbsp;scans quickly, capturing precise measurements in&nbsp;high resolution.</p>
                            <p style="margin:0 0 10px;">Light, fast and versatile, Eva is our most popular scanner and a market leader in handheld 3D scanners. Based on safe-to-use structured light scanning technology, it is an excellent all round solution for capturing objects of almost any kind, including objects with black and shiny surfaces.</p>
                            <p style="margin:0 0 10px;">Artec Eva’s ease of use, speed and precision has made it an essential product for a wide range of industries. From rapid prototyping to quality control, CGI to heritage preservation, the automotive industry to forensics, medicine and prosthetics to aerospace, the device is used to customize, innovate and streamline countless forward-thinking industries. Eva was even used to scan Barack Obama and help make the very first 3D portrait of an American president.</p>
                        </div>
                    </div>
                </div>
                @*<div>
                        <div class="download-brochure">
                            <p>Download&nbsp;<a href="/files/pdf/ArtecScanners-Booklet-EURO.pdf" id="download-booklet-eva" target="_blank">Artec scanners brochure</a></p>
                        </div>
                    </div>*@
            </div>
            <div class="col-lg-3 col-md-4">
                <div id="scrollable-block">
                    <img class="img-responsive" src="https://artec3d-production.s3-eu-west-1.amazonaws.com/products/artec-eva-en.png?iar5gBcl8USaTp_7NPRtsTghKNTV7qhD" alt="Artec Eva 3D object scanner">
                </div>
            </div>
        </div>
        <div class=" content">
            <div class="container">
                <div class="row anyb-row row-flex">
                    @*<div class="anyb-item row-flex-item col-num-0 clearfix column col-md-4 col-xs-6 warranty" style="margin-bottom: 20px;min-height: 145px;">
                            <div class="field-text">
                                <p style="text-align:center;"><span style="color:red;font-size:30px;font-weight:bold;margin-bottom:10px;">2 YEAR</span><br>warranty</p>
                            </div>
                        </div>*@
                    <div class="anyb-item row-flex-item col-num-0 clearfix column col-md-4 col-xs-6 warranty" style="margin-bottom: 20px;min-height: 145px;">
                        <div class="field-text">
                            <p style="text-align:center;">
                                <svg height="31px" version="1.1" viewBox="0 0 29 31" width="29px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title></title>
                                    <desc>Created with sketchtool.</desc>
                                    <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                        <g id="A3D-Scanners-Eva" stroke="#F13F24" transform="translate(-1005.000000, -748.000000)">
                                            <g id="Info" transform="translate(730.000000, 728.000000)">
                                                <g id="Group-3-Copy" transform="translate(200.000000, 0.000000)">
                                                    <g id="Icons/32×32/Thubsup" transform="translate(76.000000, 20.000000)">
                                                        <path d="M8,16.0324097 L8,28 C8,29.1045695 8.8954305,30 10,30 L21.6802949,30 C23.6051551,30 25.2570539,28.6290458 25.6117836,26.7371541 L27.3338377,17.5528656 C27.6391769,15.9243896 26.5665627,14.3567227 24.9380867,14.0513834 C24.7557829,14.0172015 24.5707019,14 24.3852211,14 L19,14 C18.4477153,14 18,13.5522847 18,13 L18,9 C18,6.790861 16.209139,5 14,5 L13,5 L13,10.6351244 C13,12.6694854 11.7674224,14.5010205 9.88280736,15.2670825 L8,16.0324097 Z" id="Path-9" stroke-linejoin="round"></path>
                                                        <rect height="14" id="Rectangle" stroke-linejoin="round" width="6" x="0" y="15"></rect>
                                                        <circle cx="4" cy="27" id="Oval" r="1"></circle>
                                                        <path d="M15,0 L15,3" id="Path-6"></path>
                                                        <path d="M20.4728204,2.63557139 L20.4728204,5.63557139" id="Path-6" transform="translate(20.472820, 4.135571) rotate(51.000000) translate(-20.472820, -4.135571) "></path>
                                                        <path d="M21.8244954,8.55764654 L21.8244954,11.5576465" id="Path-6" transform="translate(21.824495, 10.057647) rotate(103.000000) translate(-21.824495, -10.057647) "></path>
                                                        <path d="M8.17550461,8.55764654 L8.17550461,11.5576465" id="Path-6" transform="translate(8.175505, 10.057647) rotate(257.000000) translate(-8.175505, -10.057647) "></path>
                                                        <path d="M9.52717962,2.63557139 L9.52717962,5.63557139" id="Path-6" transform="translate(9.527180, 4.135571) rotate(309.000000) translate(-9.527180, -4.135571) "></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </p>
                            <p style="text-align:center;">Bestselling handheld 3D scanner on the market</p>
                        </div>
                    </div>
                    <div class="anyb-item row-flex-item col-num-0 clearfix column col-md-4 col-xs-6 warranty" style="margin-bottom: 20px;min-height: 145px;">
                        <div class="field-text" style="text-align:center;">
                            <p><svg height="31px" version="1.1" viewBox="0 0 31 31" width="31px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title></title><desc>Created with sketchtool.</desc><defs><path d="M31,17 L31,31 L17,31 L17,24 L14,24 L14,31 L0,31 L0,17 L8,17 L8,14 L0,14 L0,0 L14,0 L14,8 L17,8 L17,-9.18485099e-17 L31,0 L31,14 L24,14 L24,17 L31,17 Z" id="path-1"></path></defs><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g id="A3D-Scanners-Eva" transform="translate(-1204.000000, -748.000000)"><g id="Info" transform="translate(730.000000, 728.000000)"><g id="Group-3-Copy-2" transform="translate(400.000000, 0.000000)"><g id="Icons/32×32/accuracy" transform="translate(74.000000, 20.000000)"><g id="Oval"><mask fill="white" id="mask-2"><use xlink:href="#path-1"></use></mask><g id="Mask"></g><circle cx="15.5" cy="15.5" mask="url(#mask-2)" r="12.96" stroke="#F03F24" stroke-width="1.08"></circle></g><circle cx="15.5" cy="15.5" id="Oval-Copy" r="5.5" stroke="#F13F24"></circle><path d="M15.5,0 L15.5,6" id="Path-2" stroke="#F13F24"></path><path d="M15.5,25 L15.5,31" id="Path-2-Copy" stroke="#F13F24"></path><g id="Group-7" stroke="#F13F24" transform="translate(15.500000, 15.500000) rotate(90.000000) translate(-15.500000, -15.500000) translate(14.000000, 0.000000)"><path d="M1.5,0 L1.5,6" id="Path-2-Copy-3"></path><path d="M1.5,25 L1.5,31" id="Path-2-Copy-2"></path></g></g></g></g></g></g></svg></p>
                            <p>Up to 0.1mm accuracy with no need for targets</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*News Customer*@
<section class="testimonial_area">
    <div class="shap_bg">
        <img src="images/shap/skye-shap-1.png" alt="">
    </div>
    <div class="container">
        <div class="title" style="text-align: center;">
            <h4>Testimonial</h4>
            <h2>Client Feedback</h2>
        </div>
        <div class="carousel slide ts_slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p>I have tested a lot of scanners. Mantis Vision, Creaform, Faro, NDI, but never used a scanner so easy to use. The speed is outstanding, the accuracy is great.</p>
                    <a href="#">Anders Jansson, Symetri AB</a>
                    <h6>Web Developer</h6>
                </div>
                <div class="carousel-item">
                    <p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business.</p>
                    <a href="#">Emran Khan</a>
                    <h6>Web Developer</h6>
                </div>
                <div class="carousel-item ">
                    <p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business.</p>
                    <a href="#">Emran Khan</a>
                    <h6>Web Developer</h6>
                </div>
                <ol class="indicators">
                    <li data-target=".ts_slide" data-slide-to="0" class="active">1</li>
                    <li data-target=".ts_slide" data-slide-to="1">2</li>
                    <li data-target=".ts_slide" data-slide-to="2">3</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*<section class="about_agency aa_3">
        <img src="~/Images/uploaded/ArtecEva/about_bg.png" alt="" class="about_bg up_animat">
        <div class="shap_bg">
            <img src="images/shap/skye-shap-1.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 studios_text offset-xl-5">
                    <div class="title">
                        <h4>About agency</h4>
                        <h2>Why choose Creative Studio &amp; Creative Our services</h2>
                        <h5>Creative Agency <i>studios</i></h5>
                    </div>
                    <h6 class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">We’re on a mission to start a conversation with your customers in this fast connected world. </h6>
                </div>
            </div>
        </div>
    </section>*@