
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Spinfire.cshtml";
}

@section scripts{

    <link rel="stylesheet" href="/Content/spinfire/css/body_styles.css">
    <link rel="stylesheet" href="/Content/spinfire/cssmenu/styles.css">
}

<div class="page-container">
    <div class="content">

        <div class="title-blue">SpinFire</div>
        <div class="detail3"><h50>What's new</h50> <a href="/Spinfire/Ultimate" class="link">Spinfire Ultimate 11.6.3</a></div>
        <div class="detail3">3D digital data connection in digital process creation Create 3D models and display images to the production or development process. SpinFire is a program that has 6,000 companies operating worldwide, which uses 3D data in the work process. There are also users in many languages ​​around the world that use more. 210,000 people. It is also a visualizer displaying various 3D / 3D-CAD data at high speed with smart devices, web browsers, etc. and the design elements contained therein. In addition, data from production processes and quality control data (3D Info) are also retrieved in detail. It can be used to view from outside the premises to participate in real time meetings both inside and outside the company. There is also a production base in foreign countries. Business partners and subcontractors (3D Info) help by expanding to a server system that connects "Centro" To use to view the analysis data together We will also be aware of the safe communication environment from 3D digital data as an information index.</div>


        <div class="blank">&nbsp;</div>
        <div class="title-blue">SpinFire's solution</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left">
                            SpinFire Ultimate is a global 3D viewer with more than 210,000 users and 6,000 customers. It<br>
                            can convert 3D CAD / 2D CAD data into light weight and can be used widely for units other than Design such as design inspection, production confirmation And marketing both inside and outside the company
                            Since there are many languages ​​support, it helps to share information between different bases, including both domestic and international.
                        </td>
                        <td valign="top" class="table-right"><div class="img"><img src="/Content/spinfire/images/spinfire/cad-viewer-1024x576.jpg" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br>


        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top"><div class="img1"><img src="/Content/spinfire/images/spinfire/SpinFire_Flow.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br>


        <div class="vdo"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/meNppjAfl6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>


        <div class="blank">&nbsp;</div>
        <div class="title-blue">Benefits of SpinFire</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="1%" valign="top"><div class="detail3">&#8226;</div></td>
                        <td valign="top"><div class="detail3"><b>	Using more powerful 3D data</b> - clarifying "Using 3D" and "View 3D" to spread to the right place. We can use 3D data extensively.</div></td>
                    </tr>
                    <tr>
                        <td valign="top"><div class="detail3">&#8226;</div></td>
                        <td valign="top"><div class="detail3"><b>Can be used by each department within the company, independent of the CAD</b> - CAD data creation mechanism as a "tool" to create a 3D shape. The right tool (CAD) will vary depending on the shape of the 3D design. Although each department or partner company uses different CAD, it can collect 3D data by collecting it in the Spinfire format.</div></td>
                    </tr>
                    <tr>
                        <td valign="top"><div class="detail3">&#8226;</div></td>
                        <td valign="top"><div class="detail3"><b>Unnecessary CAD skills</b> - for 3D data, the number of people who use and use more data than those who create data. If it's SpinFire, you can practice what is "3D essence" to easily find and manage</div></td>
                    </tr>
                    <tr>
                        <td valign="top"><div class="detail3">&#8226;</div></td>
                        <td valign="top"><div class="detail3"><b>Use external references</b> - Distributing viewer information to companies that provide cooperation that does not change shape and shape confirmation using the "Spinfire Viewer". Free to edit the shape recognition gap at the beginning.</div></td>
                    </tr>
                    <tr>
                        <td valign="top"><div class="detail3">&#8226;</div></td>
                        <td valign="top"><div class="detail3"><b>Is a tool to promote a non-drawing environment</b> - it is possible to promote the transition from 2D work to 3D data processing in the field and downstream processes while performing steps</div></td>
                    </tr>
                    <tr>
                        <td valign="top"><div class="detail3">&#8226;</div></td>
                        <td valign="top">
                            <div class="detail3">
                                <b>Used as 3D data for DR</b> - when checking the design with 3D data will result in more dense results. When using the viewer data that is lighter than heavy CAD data, the work efficiency is greatly increased.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p></p><div class="detail3">Manufacture's website : <a href="https://products.datadesign.co.jp/spinfire/overview/" class="link" target="_blank">https://products.datadesign.co.jp/spinfire/overview/</a></div>

        <div class="blank">&nbsp;</div>
        <div class="red-footer-center">Number of visitors</div>
        <div class="black-footer-center"><span class="statcounter"><a href="https://www.statcounter.com/" target="_blank" class="link-m"><img src="https://c41.statcounter.com/3789625/0/6a7f1e17/0/" alt="web hit counter" border="0" class="statcounter"></a></span></div>
        <div class="black-footer-center"><a href="https://my.statcounter.com/project/standard/stats.php?project_id=3789625&amp;guest=1" target="_blank" class="link-m">All visitor status</a></div>


        <script>
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-82045312-30', 'auto');
            ga('send', 'pageview');

        </script>

    </div><!--end content-->
</div><!--end page-container-->
<br>

