
@{
    ViewBag.Title = "Specification";
    Layout = "~/Views/Shared/_Spinfire.cshtml";
}

@section scripts{

    <link rel="stylesheet" href="/Content/spinfire/css/body_styles.css">
    <link rel="stylesheet" href="/Content/spinfire/cssmenu/styles.css">
}

<div class="page-container">
    <div class="content">

        <div class="title-blue">Introduction of SpinFire function</div>

        <div class="detail2">Import / export files</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">
                            Even if there is no CAD license, you can convert CAD files into viewer data with Spinfire Ultimate only. Because it is compatible with multi CAD systems, it can compile components with Spinfire Ultimate by importing many types of CAD files in<br>
                            addition to 3D data. Then the 2D data of each device can also be imported / viewed. The data will be converted to vector. Therefore, the measurement of data size is possible.
                        </td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/Data_Exchange-1.jpg" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">Dimension measurement</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">With up to 30 types of dimension measurements, we can measure the dimensions of 3D shapes using various methods. When using the "smart edge dimension" and "smart surface dimension" installed from V11, you can get size data by hovering the mouse. Above the elements of geometry Size measurements can be done easily without having to use multiple measurement instructions when checking the dimension data.</td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/CAD-notes-and-annotations-1500x844-2-1024x576.jpg" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">CAD annotation display</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">
                            SpinFire Ultimate can import PMI (Product and Manufacturing Information) and GD & T (Geometric Dimensioning and Tolerance) from basic 3D CAD files, since the data entered in the design can be viewed as in 3D. To the production site, quality assurance department, sales department to reduce the time and labor required to create drawings and promote the use of 3D data nationwide. <br><br>
                            Supported formats<br>
                            · CATIA V5<br>
                            · I-DEAS<br>
                            · SIEMENS NX
                        </td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/PMI-1500x820-2-1024x560.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">Section creation function</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">
                            You can create the cutting section in the Spinfire Ultimate and check the internal structure. It is possible to create a section, cut across one plane and on multiple planes. <br>
                            If you create a section using three planes, you can create a cross section that cuts the section of the shape. The section's <br>
                            position can be adjusted manually or by Enter the numeric value
                        </td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/CAD-Viewer-e1464191063321-1500x819-2-1024x559.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">Factorization function</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">
                            The assembly installation function, which can be run while checking the position in real time, will be performed. You can specify the direction of expansion / type. And adjust the magnification while controlling with the slider <br>
                            You can extend only the extension selection, both you can use to review the design, creating parts lists, etc.
                        </td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/Exploded-assembly-2-1024x559.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="title-blue">Supports CAD formats</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <div class="img3"><img src="/Content/spinfire/images/spinfire/spec.png" width="100%" alt="" /></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>


        <div class="title-blue">Introduction of Centro function</div>
        <div class="detail2">Workflow for processing CAD files, production data, etc. "Pipeline"</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">When the CAD file is inserted into the watched folder, it becomes a trigger which is a process that performs various tasks such as converting to SpinFire method, different CAD methods, defining relevant data, uploading to Catalog Centro, mailing, etc. You can define workflows freely. In addition, if scripting in Python language helps to be able to link with the original production process fluently.</td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/2016_04_14_15_24_20_Pipelines-1024x534.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">"Catalog" to browse and analyze project data</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">CAD data in folders that preview SpinFire websites and related materials, can be easily retrieved and easily shared via the browser. All tasks from content, design concepts to production cost management are performed in one window and can share information and manage information related to user access control.</td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/2016_04_14_15_27_38_Catalog-1-1024x535.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">"SpinFire Web" that allows you to quickly check the CAD format in the browser</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">
                            CAD data registered in the catalog can be compressed up to 1/10. The SpinFire Web format can be checked via the browser. Separate display of image composition, cross section, translucent, size measurement, etc. can be used without installation<br>
                            In addition, users of SpinFire Professional can review and download SpinFire files, annotate, add 2D drawings, view sets and more. In the client application
                        </td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/2016_04_14_15_33_34_Catalog_Internet_Explorer-1-1024x518.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="detail2">"BOM Manager" to compare the BOM of the model</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="table-left1">
                            You can compare the CAD assemblies uploaded with previously converted catalogs. Which components have changed, broken parts, and so on<br><br>
                            Supported formats<br>
                            · CATIA V5<br>
                            · I-DEAS<br>
                            · SIEMENS NX
                        </td>
                        <td valign="top" class="table-right1"><div class="img2"><img src="/Content/spinfire/images/spinfire/2016_04_14_15_38_36_BOM_Compare_Internet_Explorer-1-1024x518.png" width="100%" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>

        <div class="title-blue">Server / client operating environment</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <div class="img4"><img src="/Content/spinfire/images/spinfire/2016-04-18-16_48_40-Reseller-Centro-Overview-presentation-PDF.PDF-Adobe-Reader.png" width="100%" alt="" /></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p></p><div class="detail3">Manufacture's website : <a href="https://products.datadesign.co.jp/spinfire/specification/" class="link" target="_blank">https://products.datadesign.co.jp/spinfire/specification/</a></div>

        <div class="blank">&nbsp;</div>
        <div class="red-footer-center">Number of visitors</div>
        <div class="black-footer-center"><span class="statcounter"><a href="https://www.statcounter.com/" target="_blank" class="link-m"><img src="https://c41.statcounter.com/3789625/0/6a7f1e17/0/" alt="web hit counter" border="0" class="statcounter"></a></span></div>
        <div class="black-footer-center"><a href="https://my.statcounter.com/project/standard/stats.php?project_id=3789625&amp;guest=1" target="_blank" class="link-m">All visitor status</a></div>


        <script>
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-82045312-30', 'auto');
            ga('send', 'pageview');

        </script>

    </div><!--end content-->
</div><!--end page-container-->
<br>