
@{
    ViewBag.Title = "Ultimate";
    Layout = "~/Views/Shared/_Spinfire.cshtml";
}

@section scripts{

    <link rel="stylesheet" href="/Content/spinfire/css/body_styles.css">
    <link rel="stylesheet" href="/Content/spinfire/cssmenu/styles.css">
}

<div class="page-container">
    <div class="content">

        <div class="title-blue">Updated the latest information of SpinFire Ultimate 11.6.3</div>
        <div class="detail3">
            SpinFire Ultimate 11.6.3 has been officially released today.<br>
            This update content is mostly an update / solution for importers.
        </div>

        <div class="detail3">
            ■ Import update details <br>
            • Supports NX12 (2D) (2D)<br>
            • Supports SolidWorks 2018 (2D)<br>
            • Supports SolidWorks 2018 (3D)<br>
            • Supports SolidEdge ST10 (2D)<br>
            • Supports SolidEdge ST10 (3D)
        </div><br>

        <div class="detail3">
            ■ Content. Fix errors of importers.<br>
            • ACT3D<br>
            - ACT3D files. Some files do not open.
        </div>

        <div class="detail3">
            • Catia<br>
            -	a string of letters CATIA V4 incorrect<br>
            -	the files CATDrawing a delay of a few cases of forced terminations<br>
            -	CATDrawing not turn up<br>
            -	arrow CATDrawing a reverse<br>
            -	the alignment of the body. CATDrawing dimension letters<br>
            -	CATDrawing images are not displayed<br>
            -	no images of CATDrawing files<br>
            -	Tolerance of CATDrawing geometry is too large.
        </div>

        <div class="detail3">
            • JT<br>
            -	the surface of the JT file is not divided<br>
            -	no geometry in the JT file
        </div>

        <div class="detail3">
            • NX<br>
            -	NX Drawing Open or the shape is not correct<br>
            -	when imported NX 11 drawing will be placed lines or symbols that are missing<br>
            -	files application assembly NX does not turn up<br>
            -	no blocking. Title of NX drawing<br>
            -	NX geometry disappeared<br>
            -	no block title of NX drawing<br>
            -	2D NX import failed
        </div>

        <div class="detail3">
            • Pro-E<br>
            -	Linking to ProE 2D DRW SpinFire is disabled when opening 3D PRT files.
        </div>

        <div class="detail3">
            • SolidWorks<br>
            -	SolidWorks files do not open
        </div>


        <p></p><div class="detail3">Manufacture's website : <a href="https://products.datadesign.co.jp/spinfire/news/2018/04/19/104/" class="link" target="_blank">https://products.datadesign.co.jp/spinfire/news/2018/04/19/104/</a></div>

        <div class="blank">&nbsp;</div>
        <div class="red-footer-center">Number of visitors</div>
        <div class="black-footer-center"><span class="statcounter"><a href="https://www.statcounter.com/" target="_blank" class="link-m"><img src="https://c41.statcounter.com/3789625/0/6a7f1e17/0/" alt="web hit counter" border="0" class="statcounter"></a></span></div>
        <div class="black-footer-center"><a href="https://my.statcounter.com/project/standard/stats.php?project_id=3789625&amp;guest=1" target="_blank" class="link-m">All visitor status</a></div>


        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-82045312-30', 'auto');
            ga('send', 'pageview');

        </script>

    </div><!--end content-->
</div><!--end page-container-->
<br>

