
@{
    ViewBag.Title = "Markforged-DatadesignVn";
    ViewBag.Description = "Ấn tượng với sức mạnh của các bộ phận in 3D Markforged. Anh ta đã tạo ra Shift Kon accept và bắt đầu mở rộng các bộ chuyển mái chèo cho các tay đua.";
    ViewBag.Image = "https://datadesign.vn/Content/marforge/images/markforged/casestudy/tooling/512-wf-84f0e26a-fc04-4139-8204-a6a0ad5c91ba-21.jpg";
    ViewBag.Url = "https://datadesign.vn/case01";
    Layout = "~/Views/Shared/_MarkforgeLayout.cshtml";
}
@section scripts{
    <link rel="stylesheet" href="/Content/marforge/css/body-styles.css">
    <!--<link rel="stylesheet" href="../css/styles-menu.css">-->
    <!--<link rel="stylesheet" href="fontello-172baab5/css/fontello.css">-->

    <link rel="stylesheet" href="/Content/marforge/cssmenu/styles.css">}
<div class="onyx-container">
    <div class="onyx-block-head-img">
        <div class="onyx-content-head">
            <div class="onyx-f40-fff">Case study</div>
            <div class="line"></div>
            <div class="onyx-f24-fff">Case Studies</div>
        </div>
    </div>
    <div class="onyx-content">
        <div class="onyx-f40-2d2d2d">Hung Ngo: Expansion Paddle Shifter</div>
        <div class="onyx-block-one-all">
            <div class="onyx-f24-000">
                Hung Ngo is a price analyst for law firms and takes time to develop and find ways to take advantage of technology. <br>
                His passion for road racing and his automotive industry experience created a gap in the car spare parts market <br>
                with the DCT (dual clutch transmission system). The gear shift in the rear of the steering wheel and the driver can easily change gears by No need to step on the clutch, just like changing the bike. It's easy to manage in everyday life. But in the competition, it may be difficult to change the rotation cycle at dense
            </div>
            <div class="onyx-f24-000">Impressed with the strength of the Markforged 3D printed parts. He created Shift Koncepts and began to expand paddle shifters for racers.</div>
            <div class="onyx-f24-000">
                When Hung explores how long paddle shifter options are limited There are only a few companies that create custom shifters or long form. He explored many ways and printed paddle shifter sets from PLA, but the material looked too thin and cheap. <br>
                His product has two features that cannot be destroyed. His paddle shifter must be easy to install and look like a car.
            </div>

            <div class="case-block-img-one"><img src="../../images/markforged/casestudy/tooling/wf-3879a645-7dc2-4f3b-b22d-226146d96ace-1-1-300x300.jpg" width="100%" alt="" /></div>

            <div class="onyx-f24-000">
                When visiting stores in areas that use Markforged 3D printers, I am impressed with the quality and strength. And a car entrepreneur who started upgrading from Mark One to Mark Two, began Shift Koncepts in January 2016 and created an extension of the paddle shifter, even though there was no 3D printer or engineering experience, but Onyx One enabled production bandwidth. The quality and reliability of Markforged ensures the success of a variety of gear changers. <br>
                The strength and strength of the three-dimensional paddle shifter printer is done by Markforged, but must follow "Industry Standard" which is a field that is rich in traditional carbon fiber production. In order to achieve this beauty, Hung placed a layer of carbon fiber on top of the 3D printing component to allow customers to look as expected and expand to hydro-dipping later
            </div>

            <div class="case-block-img-one"><img src="../../images/markforged/casestudy/tooling/512-wf-84f0e26a-fc04-4139-8204-a6a0ad5c91ba-2.jpg" width="100%" alt="" /></div>

            <div class="onyx-f24-000">Hung has no engineering background. But developed products based on two markets with two Markforged printers. Markforged printers used at this time greatly reduced the barriers to entry into the manufacturing industry and succeeded. He continues to offer Markforged Paddle Shifter extensions to cars and customers around the world.</div>
        </div><!--end onyx-block-one-all-->
    </div><!--end onyx-content-->


</div><!--end container-->
