
@{
    ViewBag.Title = "Markforged-DatadesignVn";
    ViewBag.Description = "Máy in 3D Markforged là máy in 3D đặc biệt trong các vật liệu đặc biệt sử dụng phương pháp FDM.Chúng tôi sẽ thúc đẩy sản xuất các bộ phận cuối cùng khi cần bằng lớp phủ composite sử dụng sợi carbon và phương pháp phủ kim loại mới, điều đó kết hợp MIM (phương pháp ép phun bột) và công nghệ AM.";
    ViewBag.Image = "https://datadesign.vn/Content/marforge/images/markforged/MarkforgedLogoSideways1.png";
    ViewBag.Url = "https://datadesign.vn/markforgedPrinter";
    Layout = "~/Views/Shared/_MarkforgeLayout.cshtml";
}
@section scripts{
    <link rel="stylesheet" href="/Content/Artec3D/css/vdo_background.css">
    <!--<link rel="stylesheet" href="../css/styles-menu.css">-->
    <!--<link rel="stylesheet" href="fontello-172baab5/css/fontello.css">-->
    <link rel="stylesheet" href="/Content/Artec3D/cssmenu/styles.css">
    <link rel="stylesheet" href="/Content/Artec3D/css/reponsive_mobile.css">
    <!-- Đánh dấu JSON-LD được tạo bởi Trình trợ giúp đánh dấu dữ liệu có cấu trúc của Google. -->
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Product",
        "name" : "\"3D Markforged Printer",
        "image" : "https://datadesign.vn/images/markforged/logo-horizontal.png",
        "description" : "The final coating with strength / heat resistance
        <BR />\nComposite coating and new 3D printer / metal coating method",
        "url" : "https://datadesign.vn/markforgedPrinter",
        "brand" : {
        "@@type" : "Brand",
        "name" : "Data Design",
        "logo" : "https://datadesign.vn/Content/Datadesign-home/logo%20(1).png"
        }
        }
    </script>
}


<video autoplay muted loop id="myVideo">
    <source src="https://www.datadesign.co.th/images/markforged/markforged.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div class="content">
    <div class="background-black">
        <div class="img_logo"><img src="../images/markforged/logo-horizontal.png" width="100%" id="img_logo" alt="" /></div>
        <div class="text24">เครื่องพิมพ์ 3D ที่เข้ากันได้กับคาร์บอนไฟเบอร์ / โลหะ</div>
        <div class="text30">
            การเคลือบส่วนสุดท้ายด้วยความแข็งแรง / การต้านทานความร้อน<br>
            การเคลือบคอมโพสิตและเครื่องพิมพ์ 3 มิติใหม่ / วิธีการเคลือบโลหะ
        </div>
        <div class="text22">
            "เครื่องพิมพ์ 3D Markforged" เป็นเครื่องพิมพ์ 3 มิติที่มีความพิเศษในด้านวัสดุพิเศษโดยใช้วิธีการ FDM<br>
            เราจะส่งเสริมการผลิตชิ้นส่วนสุดท้ายตามความต้องการโดยการเคลือบคอมโพสิตโดยใช้คาร์บอนไฟเบอร์และวิธีการเคลือบโลหะแบบใหม่ที่ผสมผสาน MIM (วิธีการฉีดขึ้นรูปโลหะผง) และเทคโนโลยี AM
        </div>
        <div class="content-button"><a href="overview.html" class="button-artec">ภาพรวมผลิตภัณฑ์</a></div>
    </div>
</div>

