
@{
    ViewBag.Title = "Controlx-Overview";
    Layout = "~/Views/Shared/_Geomagic.cshtml";
}

@section scripts{

    <link rel="stylesheet" href="/Content/geomagiccx/css/body-styles.css">
    <link rel="stylesheet" href="/Content/geomagiccx/cssmenu/styles.css">
    <link rel="stylesheet" href="/Content/geomagiccx/css/controlx_styles.css">
}

<div class="content-geomagic-cx">
    <div class="block-content-geomagic-cx-one">
        <div class="img-geomagic-cx-one-background">
            <div class="content-geomagic-cx-one-1070">
                <div class="block-geomagic-cx-one-left">
                    <div class="f-40-c1a1a1a-left">Integrated metrology software<br>It is reliable</div>
                    <div class="img-geomagic-cx-one-left"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/logo-controlx.png" width="100%" alt="" /></div>
                </div><!--end block-geomagic-cx-one-left-->
                <div class="block-geomagic-cx-one-right">
                    <div class="img-geomagic-cx-one"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/Geomagic-control-X__powerful-software.jpg" width="100%" alt="" /></div>
                </div><!--end block-geomagic-cx-one-right-->
                <div class="block-geomagic-cx-one-left-bottom">
                    <div class="f-24-c333-left">Geomagic® Control X ™ is a complete metrology software platform with powerful tools designed to improve many existing workflows. With this intelligent metrology solution, quality managers have full access to intuitive controls, along with workflows that are traceable and reproducible for more effective quality measurement processes. By making the reporting and analyzing processes faster and easier, Geomagic Control X guarantees increased workflow efficiency and quality received.</div>
                </div><!--end block-geomagic-cx-one-left-bottom-->
                <div class="block-geomagic-cx-one-right-bottom">
                    <div class="f-24-c333-left">When combined with the powerful and highly accurate Artec 3D scanner, Geomagic Control X is an excellent solution for anyone looking for speed, precision and a wide selection of tools. Get the information you need for comprehensive quality control in no time with Artec's advanced 3D scanning solution. Get accurate measurements and conduct data analysis and analysis at that point using Geomagic Control X and hand scanners. Hold Artec 3D. Compare 3D scans with reference CAD models to reduce defects in assembly and increase productivity.</div>
                </div><!--end block-geomagic-cx-one-right-bottom-->
            </div><!--end content-geomagic-cx-one-1070-->
        </div><!--end img-geomagic-cx-one-background-->
    </div><!--end block-content-geomagic-cx-one-->


    <div class="block-content-geomagic-cx-two">
        <div class="img-geomagic-cx-two-background">
            <div class="content-geomagic-cx-two-1070">
                <div class="img-geomagic-cx-two"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/Geomagic-control-X-efficient-inspection.png" width="100%" alt="" /></div>
                <div class="block-geomagic-cx-two-left">
                    <div class="f-40-c1a1a1a-left-two">Effective inspection instruction set</div>
                    <div class="f-22-c666-left">Increase your workflow with the new Geomagic Control X interface that is full of metrology and powerful and innovative monitoring tools. Get accurate results from both pre-planning and inspection processes. This professional solution is ideal for 3D inspection in a variety of manufacturing processes. Achieve high-precision measurements and perform a variety of parts inspections that are convenient for increasing quality levels in parts and assemblies produced.</div>
                    <div class="f-40-c1a1a1a-left-two">Immediate and clear results</div>
                    <div class="f-22-c666-left">The comprehensive Navigator Navigator gives you the ability to improve the quality inspection process that may occur in some parts or over time. Identify and eliminate the source of the error of the stack in welding or assembly with the data accumulated from the implementation of multi-situation analysis, alignment at the same time, solve problems related to the piece. Potential parts that can be quickly and efficiently based on CAD models and data accumulated by using 3D scanners, other portable measuring devices and even tools. Computer tomography You can also create individual projects with measurement data collected over time, which can be used to check the problems of graphical suppliers.</div>
                    <div class="f-40-c1a1a1a-left-two">True responsibility and traceability</div>
                    <div class="f-22-c666-left">Receiving accurate information from the examination has never been easier and faster with results that are certified by NIST-PTB. The new and exciting features of Geomagic Control X help users to be accountable and traceable throughout the process. Check all</div>
                </div><!--end block-geomagic-cx-two-left-->
                <div class="block-geomagic-cx-two-right">
                    <div class="f-40-c1a1a1a-left-two">Precise results - fast</div>
                    <div class="f-22-c666-left">Receive dimension data in any order and style without any restrictions and with a smart synchronous monitoring system that captures the data hierarchy and workflows in the background. The process can be repeated and edited easily. Geomagic Control X ensures accurate, fast and hassle-free results, helping you focus on collecting the required information and analyzing the data. Complex CAD dimensioning tools help industry professionals make quick analyzes, such as first-time article validation, traditional CAD importers, as well as GD&T-based models that have been delivered with no standard value. Spend moreม</div>
                    <div class="f-40-c1a1a1a-left-two">Improve communication with advanced reporting</div>
                    <div class="f-22-c666-left-two">Innovation in the reporting features of Geomagic Control X allows users to create reports with diverse communication and graphics. And with advanced custom view control and style reporting, the look can be adjusted to suit specific guidelines, whether traditional paper or graphic presentations, printed PDF</div>
                    <div class="f-22-c666-left">Innovation in the reporting features of Geomagic Control X allows users to create reports with diverse communication and graphics. And with advanced custom view control and style reporting, the look can be adjusted to suit specific guidelines, whether traditional paper or graphic presentations, printed PDF</div>
                </div><!--end block-geomagic-cx-two-right-->
            </div><!--end content-geomagic-cx-two-1070-->
        </div><!--end img-geomagic-cx-two-background-->
    </div><!--end block-content-geomagic-cx-two-->


    <div class="block-content-geomagic-cx-three">
        <div class="img-geomagic-cx-three-background">
            <div class="content-geomagic-cx-three-1070">
                <div class="f-40-c1a1a1a-center-three">Geomagic Control Workflow</div>
                <div class="block-geomagic-cx-three-top">
                    <div class="block-geomagic-cx-three-left">
                        <div class="img-geomagic-cx-three"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/Geomagic-control-X__workflow-input.png" width="100%" alt="" /></div>
                    </div><!--end block-geomagic-cx-three-left-->
                    <div class="block-geomagic-cx-three-right">
                        <div class="f-30-c1a1a1a-left-three">import</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Direct scanner integration</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Planning ahead as planned</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Walking inspection tool</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Auto scan</div>
                    </div><!--end block-geomagic-cx-three-left-->
                </div><!--end block-geomagic-cx-three-top-->

                <div class="block-geomagic-cx-three-middle">
                    <div class="block-geomagic-cx-three-left-middle">
                        <div class="f-30-c1a1a1a-left-three">check</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> CAD Aware and GD&T size measurements</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Multiple results analysis</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Synchronous check</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Workflow driven verification process</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Cause analysis and traceability</div>
                    </div><!--end block-geomagic-cx-three-left-middle-->
                    <div class="block-geomagic-cx-three-right-middle">
                        <div class="img-geomagic-cx-three-right"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/Geomagic-control-X__workflow-inspection.png" width="100%" alt="" /></div>
                    </div><!--end block-geomagic-cx-three-right-middle-->
                </div><!--end block-geomagic-cx-three-middle-->

                <br><br>
                <div class="block-geomagic-cx-three-left-bottom">
                    <div class="block-geomagic-cx-three-left-in-bottom">
                        <div class="img-geomagic-cx-three-left-bottom"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/Geomagic-control-X__workflow-report.png" width="100%" alt="" /></div>
                    </div><!--end block-geomagic-cx-three-left-in-bottom-->
                    <div class="block-geomagic-cx-three-right-in-bottom">
                        <div class="f-30-c1a1a1a-left-three">Report</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Report of pushing the viewpoint</div>
                        <div class="f-24-c333-left-three"><div class="slach-style">/</div> Customizable templates</div>
                    </div><!--end block-geomagic-cx-three-right-in-bottom-->
                </div><!--end block-geomagic-cx-three-left-bottom-->
                <div class="block-geomagic-cx-three-right-bottom">
                    <div class="block-geomagic-cx-three-left-in-bottom">
                        <div class="img-geomagic-cx-three-right-bottom"><img src="/Content/geomagiccx/images/geomagic/geomagic-controlx/Geomagic-control-X__workflow-trend.png" width="100%" alt="" /></div>
                    </div><!--end block-geomagic-cx-three-left-in-bottom-->
                    <div class="block-geomagic-cx-three-right-in-bottom">
                        <div class="f-30-c1a1a1a-left-three">Trend analysis</div>
                    </div><!--end block-geomagic-cx-three-right-in-bottom-->
                </div><!--end block-geomagic-cx-three-right-bottom-->
            </div><!--end content-geomagic-cx-three-1070-->
        </div><!--end img-geomagic-cx-three-background-->
    </div><!--end block-content-geomagic-cx-three-->


    <div class="block-content-geomagic-cx-four">
        <div class="img-geomagic-cx-four-background">
            <div class="content-geomagic-cx-four-1070">
                <div class="f-40-c1a1a1a-center-four">Important features of geographic control</div>
                <div class="block-geomagic-cx-four-top">
                    <div class="block-geomagic-cx-four-left-top">
                        <div class="f-22-c333-left-four"><div class="slach-style">/</div> Supports all industry standard hardware devices and supports extensive file import including CATIA, NX, SOLIDWORKS, SolidEdge, Autodesk inventors and others, such as importing the Model-Based Definition (MBD) annotations without additional costs.</div>
                    </div><!--end block-geomagic-cx-four-left-top-->
                    <div class="block-geomagic-cx-four-right-top">
                        <div class="f-22-c333-left-four"><div class="slach-style">/</div> Friendly user interface designed for professionals in a variety of industries.</div>
                    </div><!--end block-geomagic-cx-four-right-top-->
                </div><!--end block-geomagic-cx-four-top-->
                <div class="block-geomagic-cx-four-middle">
                    <div class="block-geomagic-cx-four-left-middle">
                        <div class="block-geomagic-cx-four-left-in-middle">
                            <div class="f-22-c333-left-four"><div class="slach-style">/</div> Workflow-driven processes are ideal for walking and pre-checking as planned to increase productivity.</div>
                        </div><!--end block-geomagic-cx-four-left-middle-->
                        <div class="block-geomagic-cx-four-center-in-middle">
                            <div class="f-22-c333-left-four"><div class="slach-style">/</div> Recognized CAD dimensioning, PMI support and comprehensive GD&T supplementary text</div>
                        </div><!--end block-geomagic-cx-four-center-middle-->
                    </div><!--end block-geomagic-cx-four-left-middle-->
                    <div class="block-geomagic-cx-four-right-middle">
                        <div class="f-22-c333-left-four"><div class="slach-style">/</div> Multiple results analysis for faster and more efficient comparisons</div>
                    </div><!--end block-geomagic-cx-four-right-middle-->
                </div><!--end block-geomagic-cx-four-middle-->
                <div class="block-geomagic-cx-four-bottom">
                    <div class="block-geomagic-cx-four-left-bottom">
                        <div class="block-geomagic-cx-four-left-in-bottom">
                            <div class="f-22-c333-left-four"><div class="slach-style">/</div> Custom reporting options for increased flexibility</div>
                        </div><!--end block-geomagic-cx-four-left-in-bottom-->
                        <div class="block-geomagic-cx-four-center-in-bottom">
                            <div class="f-22-c333-left-four"><div class="slach-style">/</div> Repeatable inspection process with LiveInspect ™</div>
                        </div><!--end block-geomagic-cx-four-right-in-bottom-->
                    </div><!--end block-geomagic-cx-four-left-bottom-->
                    <div class="block-geomagic-cx-four-right-bottom"></div><!--end block-geomagic-cx-four-right-bottom-->
                </div><!--end block-geomagic-cx-four-bottom-->

                <p></p><div class="detail3">Manufacture's website : <a href="https://www.artec3d.com/3d-software/geomagic-control-x" class="link" target="_blank">https://www.artec3d.com/3d-software/geomagic-control-x</a></div>

                <div class="blank">&nbsp;</div>
                <div class="red-footer-center">Number of visitors</div>
                <div class="black-footer-center"><span class="statcounter"><a href="https://www.statcounter.com/" target="_blank" class="link-m"><img src="https://c41.statcounter.com/3789625/0/6a7f1e17/0/" alt="web hit counter" border="0" class="statcounter"></a></span></div>
                <div class="black-footer-center"><a href="https://my.statcounter.com/project/standard/stats.php?project_id=3789625&amp;guest=1" target="_blank" class="link-m">All visitor status</a></div>

            </div><!--end content-geomagic-cx-four-1070-->
        </div><!--end img-geomagic-cx-four-background-->
    </div><!--end block-content-geomagic-cx-four-->


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82045312-30', 'auto');
        ga('send', 'pageview');

    </script>

</div><!--end content-geomagic-cx-->
