
@{
    ViewBag.Title = "Function";
    Layout = "~/Views/Shared/_Geomagic.cshtml";
}

@section scripts{

    <link rel="stylesheet" href="/Content/geomagiccx/css/body-styles.css">
    <link rel="stylesheet" href="/Content/geomagiccx/cssmenu/styles.css">
}
<div class="page-container">
    <div class="content">

        <div class="title_green">The main function of Geomagic Control X</div>
        <div class="detail3">Since Geomagic Control X is based on the success that 3D Systems has developed, the top-level measurement software for over 20 years is the most reliable in the world and can be used for a variety of purposes. As well as innovative functions that are important and easy to use in traceability as measurement software helps increase the production efficiency of the inspection process at the production site and quality control</div>
        <div class="detail3">
            Latest version : V2018.1.1 &nbsp;&nbsp;&nbsp;<a href="new_function_2018.1.1.html" class="link" target="_blank">Information is here</a><br>
            for V2018. &nbsp;&nbsp;&nbsp;<a href="new_function_2018.html" class="link" target="_blank">Information is here.</a>
        </div><br><br>


        <div class="detail2">1. Support reading hardware, industry standard and many files.</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tablefunction-left"><div class="img"><img src="/Content/geomagiccx/images/geomagic/f_01.png" width="100%" class="img-4" alt="" /></div></td>
                        <td valign="top" class="tablefunction-right">Supports various contactless and optical scanners used in industries and contact devices such as Portable read heads CATIA®, NX®, Creo®, Pro / ENGINEER®, SOLIDWORKS®, Solid Edge®, Autodesk Inventor®, support loading of important CAD file formats, such as some people can also read PMI and GD data. & T All CAD reading options can be used without additional costs.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">2. Intuitive interface designed for professionals.</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tablefunction-left"><div class="img"><img src="/Content/geomagiccx/images/geomagic/f_02.png" width="100%" class="img-4" alt="" /></div></td>
                        <td valign="top" class="tablefunction-right">The fully updated Geomagic Control X user interface will allow anyone to easily take advantage of a wide range of options, all with the precision of measuring and analyzing parts, regardless of usage.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">3. Processes that focus on workflows, function checks that increase performance and do not require initial setup.</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tablefunction-left"><div class="img"><img src="/Content/geomagiccx/images/geomagic/f_03.png" width="100%" class="img-4" alt="" /></div></td>
                        <td valign="top" class="tablefunction-right">Geomagic Control X provides a process that is easy to understand and easy to understand. In addition to following the predefined list, you can prove effectively without the hassle of using a computer and doing it quickly.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">4. Synchronization function for easier and automatic tasks</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tablefunction-left"><div class="img"><img src="/Content/geomagiccx/images/geomagic/f_05.png" width="100%" class="img-4" alt="" /></div></td>
                        <td valign="top" class="tablefunction-right">Geomagic Control X can be operated quickly, reliably and flexibly without being bound by steps. This task is automatically maintained as a history-based validation process that can be modified and can be applied to confirmation of modifications and checking the content of repeat options.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">5. Measurement of the shape recognition of CAD, 3D drawing (PMI), size / geometric tolerance (GD&T)</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tablefunction-left"><div class="img"><img src="/Content/geomagiccx/images/geomagic/f_06.png" width="100%" class="img-4" alt="" /></div></td>
                        <td valign="top" class="tablefunction-right">Due to the ability to identify CAD shapes, it can be used intuitively to increase work efficiency. PMI evolution and GD & T help stakeholders in different positions to interpret the test results without differences.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">6. Comparative analysis of many results that are useful for reliable judgment</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top"><h24>Comparing and analyzing multiple results at the same time, such as different monitoring settings and the appropriate parts, can quickly find the cause of the existing production problems. You can also use it for inspection of assemblies using various measurement functions and analytical tools such as durability.</h24></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">7. Report function that can be created flexibly.</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top"><h24>Report settings Geomagic Control X is very flexible and can be easily and quickly customized by other people for the purpose.</h24></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="detail2">8. LiveInspect ™ is effective for thorough examination.</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <h24>
                                With LiveInspect, everyone can use the validation process for sure. Control X can set up the monitoring and pre-reporting processes for portable CMMs and can perform as many times as needed following the instructions later if it is a portable CMM. Can scan as well, you can easily change probes and scans by just clicking the button
                            </h24>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><p></p>

        <div class="title_green">Operating Environment</div>
        <div class="table1">
            <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#CBCBCB">
                <tbody>
                    <tr>
                        <td valign="top" bgcolor="#EFEFEF"><h22>OS (64bit version only)</h22></td>
                        <td valign="top" bgcolor="#fff"><h22>Windows 7/Windows 8/Windows 10</h22></td>
                    </tr>
                    <tr>
                        <td valign="top" bgcolor="#EFEFEF"><h22>CPU</h22></td>
                        <td valign="top" bgcolor="#fff"><h22>	Intel, 2 GHz AMD Processor Clock or higher</h22></td>
                    </tr>
                    <tr>
                        <td valign="top" bgcolor="#EFEFEF"><h22>RAM</h22></td>
                        <td valign="top" bgcolor="#fff"><h22>8 GB or more</h22></td>
                    </tr>
                    <tr>
                        <td valign="top" bgcolor="#EFEFEF"><h22>Hard Disk</h22></td>
                        <td valign="top" bgcolor="#fff"><h22>	Suggest SSD / 10000 RPM hard drives with 256 GB or more free space.</h22></td>
                    </tr>
                    <tr>
                        <td valign="top" bgcolor="#EFEFEF"><h22>Display</h22></td>
                        <td valign="top" bgcolor="#fff"><h22>	OpenGL 3.0 or higher, 32-bit resolution 1280 x 960 or higher</h22></td>
                    </tr>
                    <tr>
                        <td valign="top" bgcolor="#EFEFEF"><h22>GPU</h22></td>
                        <td valign="top" bgcolor="#fff"><h22>OpenGL 4.0 or later, 2 GB or more video cards, NVIDIA Quadro series RAM</h22></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p></p><div class="detail3">Manufacture's website : <a href="https://products.datadesign.co.jp/geomagic-cont/02_geomagiccontrolx_specification/" class="link" target="_blank">https://products.datadesign.co.jp/geomagic-cont/02_geomagiccontrolx_specification</a></div>

        <div class="blank">&nbsp;</div>
        <div class="red-footer-center">Number of visitors</div>
        <div class="black-footer-center"><span class="statcounter"><a href="https://www.statcounter.com/" target="_blank" class="link-m"><img src="https://c41.statcounter.com/3789625/0/6a7f1e17/0/" alt="web hit counter" border="0" class="statcounter"></a></span></div>
        <div class="black-footer-center"><a href="https://my.statcounter.com/project/standard/stats.php?project_id=3789625&amp;guest=1" target="_blank" class="link-m">All visitor status</a></div>


        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82045312-30', 'auto');
  ga('send', 'pageview');

        </script>

    </div><!--end content-->
</div><!--end page-container-->
<br>
