
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Geomagic.cshtml";
}

@section scripts{

    <link rel="stylesheet" href="/Content/geomagiccx/css/body-styles.css">
    <link rel="stylesheet" href="/Content/geomagiccx/cssmenu/styles.css">
}

<div class="page-container">
    <!--<div id="cover"><img src="../images/geomagic/controlx_banner.png" width="100%" height="100%">
    </div>-->
    <div class="content">

        <div class="title_green">Geomagic® Control X ™ | Measure, Understand, Communicate.</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top"><div class="img"><img src="/Content/geomagiccx/images/geomagic/cx_logo.png" width="100%" id="img" alt="" /></div></td>
                        <td valign="top">Geomagic® Control X ™ is a comprehensive metrology software platform that delivers the most powerful tools in the industry within straightforward workflows. Geomagic Control X is easy to use, can create traceability and repeatability processes for processes. Quality measure Fast and accurate reporting and analysis, reporting and analysis of a variety of data, resulting in significant productivity and quality in any production process.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="blank">&nbsp;</div>
        <div class="detail2">1. Inspection process</div>
        <div class="detail3">With the new user interface, advanced measurement tools and monitoring tools, Geomadic Control X has simple operation and comprehensive functions, can check the 3D model of any production process and quickly measure the desired size.</div>
        <div class="img"><img src="/Content/geomagiccx/images/geomagic/3dSystems_GeomagicControlX_post1.jpg" width="100%" id="img-1" alt="" /></div>


        <div class="detail2">2. Get reliable results with simple operation.</div>
        <div class="detail3">With the freedom to measure in the order or style you want, while an efficient synchronous monitoring system automatically captures the hierarchy of data and systems in the background for repeatable and editable processes Using the measurement function based on CAD data, you can quickly run basic product checks and easily summarize the information you need to present. Reading traditional CAD files with 3D GD&T data for pictures Is standard without additional costs</div>
        <div class="img"><img src="/Content/geomagiccx/images/geomagic/gazou_01-1024x230.png" width="100%" id="img-2" alt="" /></div>


        <div class="detail2">3. Understand the problem immediately from the examination results</div>
        <div class="detail3">The navigator can check the quality problems that occur between parts or time sets while comparing multiple results simultaneously. We can identify the cause of the sorting errors that can occur in welding and processing. Assemble and be able to find information effectively to take precise measures from the analysis results By using a portable meter, optical scanner or CT scanner and managing related parts or sets as a monitoring project, you can analyze the status between simple parts and to understand problems that may Occurs in the assembly</div>
        <div class="img"><img src="/Content/geomagiccx/images/geomagic/maxresdefault2-1024x576.jpg" width="100%" id="img-3" alt="" /></div>


        <div class="detail2">4. Comprehensive report and traceability</div>
        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tableoverview-left1"><div class="img"><img src="/Content/geomagiccx/images/geomagic/Geomagic_Control_X_Reports_1_350.png" width="100%" class="img-4" alt="" /></div></td>
                        <td valign="top" class="tableoverview-right1">The new reporting function of Geomagic Control X generates graphical reports and is easy to report. Because you can create a report while importing images from your viewpoint or checking the design, there are things that are close to the job that generates the report using new plain and PDF paper that is intelligent. The 3D dimensions and recording management functions help you. Can set the details to be displayed on the screen You can choose from the most commonly used preset settings or customize the display style according to your company regulations. New detailed report format tools allow you to configure your reports flexibly to customize the settings you need.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top" class="tableoverview-left2">The results that have been approved by NIST-PTB ensure you are confident in the quick inspection with accuracy. The new feature of Geomagic Control X allows you to create effective and traceable checks that can be explained thoroughly throughout the process.</td>
                        <td valign="top" class="tableoverview-right2"><div class="img"><img src="/Content/geomagiccx/images/geomagic/002.png" width="100%" id="img-5" alt="" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <p></p><div class="detail3">Manufacture's website : <a href="https://products.datadesign.co.jp/geomagic-cont/01_geomagiccontrolx_overview/" class="link" target="_blank">https://products.datadesign.co.jp/geomagic-cont/01_geomagiccontrolx_overview</a></div>

        <div class="blank">&nbsp;</div>
        <div class="red-footer-center">Number of visitors</div>
        <div class="black-footer-center"><span class="statcounter"><a href="https://www.statcounter.com/" target="_blank" class="link-m"><img src="https://c41.statcounter.com/3789625/0/6a7f1e17/0/" alt="web hit counter" border="0" class="statcounter"></a></span></div>
        <div class="black-footer-center"><a href="https://my.statcounter.com/project/standard/stats.php?project_id=3789625&amp;guest=1" target="_blank" class="link-m">All visitor status</a></div>


        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-82045312-30', 'auto');
            ga('send', 'pageview');

        </script>


    </div><!--end content-->
</div><!--end page-container-->
<br>

